RELEASE_SCHEMA=1
RELEASE_SHA=required-at-deploy-time
API_IMAGE=required-at-deploy-time
DM_WORKER_IMAGE=required-at-deploy-time
WIKI_WORKER_IMAGE=required-at-deploy-time
CONTENT_PROPOSAL_WORKER_IMAGE=required-at-deploy-time
BRAND_INTELLIGENCE_WORKER_IMAGE=required-at-deploy-time
SUBJECT_ANALYSIS_WORKER_IMAGE=required-at-deploy-time
IMAGE_WORKER_IMAGE=required-at-deploy-time
CARD_NEWS_WORKER_IMAGE=required-at-deploy-time
BLOG_WORKER_IMAGE=required-at-deploy-time
MARKETING_WORKER_IMAGE=required-at-deploy-time
CADDY_IMAGE=required-at-deploy-time
CANARY_HOST=canary-api.danbammsg.co.kr
PRIMARY_HOST=api.danbammsg.co.kr
ACME_EMAIL=ops@danbammsg.co.kr
API_ENV_FILE=/opt/brand-pilot/shared/env/api.env
